




<section class="investor-signup">
    <div class="investor-header-container">
      <div class="logo">
        <img src="../assets/logo.png" alt="e-Offering logo" />
      </div>
      <div>
        <a href="../landing/sponsorLogin.html"><button class="btn-secondary">Sponsor</button></a>
        <a href="../landing/investorLogin.html"><button class="btn-primary">Investor</button></a>
      </div>
    </div>
    <section class="main">
      <div class="investor-main-text">
        <h1>e-Offering</h1>
        <h3>
          Discovering unique investment opportunities that will automate
          primary market transactions and standardise key activities
        </h3>
      </div>
      <div class="investor-main-form-signin">
        <h1 class="signinh1">Sign In</h1>
        <form action="" method="post">
          <div class="formgroup">
            <label for="userName">Username</label><br />
            <input type="text" name="userName" id="userName" class="userName" style="margin-bottom: 17px" /><br />
          </div>
          <div class="formgroup">
            <label for="password">Password</label><br /><!--<i class="fa-solid fa-eye"></i>-->
            <input type="password" name="password" id="password" class="password" required />

          </div>
          <div class="remember-me-container">
            <div class="remember-me">
              <input style="width: 15px; margin-top: 0;" type="checkbox" name="" id="">
              <p>Remember me</p>
            </div>
            <p>forgot password?</p>
          </div>
          <div class="extra"></div>
          <a href="/adminkit-dev/static/investorTermsAndConditions.html" class="investor-btn-login" id="signIn">
            Sign In
          </a>
          <p>
            Don't have an account?
            <span><a href="../landing/investor-type.html">Sign Up</a></span>
          </p>
        </form>
      </div>
    </section>
  </section>


